### use # to comment out the configure item

### I/O ###
model_name=AGBAN

train_dir=data/mul_tweets/train
dev_dir=data/mul_tweets/dev
test_dir=data/mul_tweets/test
word_emb_dir=data/embedding/glove.twitter.27B.200d.txt

log_root=data/mul_tweets/demo_ckpt
model_dir=data/mul_tweets/demo_ckpt/model
raw_dir=data/mul_tweets/test
decode_dir=data/mul_tweets/demo_ckpt/test_out.txt
dset_dir=data/mul_tweets/demo_ckpt/model.dset
load_model_dir=data/mul_tweets/demo_ckpt/model.189.model

norm_word_emb=False
norm_char_emb=False
number_normalized=True
seg=True
word_emb_dim=200
char_emb_dim=30

###NetworkConfiguration###
use_crf=True
use_char=True
word_seq_feature=LSTM
char_seq_feature=CNN
#feature=[POS] emb_size=20
#feature=[Cap] emb_size=20
#nbest=1
ner_loss_lambda=1
v_loss_lambda=1
t_loss_lambda=1

###TrainingSetting###
status=decode
optimizer=SGD
iteration=200
batch_size=10
ave_batch_loss=False

###Hyperparameters###
glimpse=1
frozen_step=8
max_obj=3
cnn_layer=4
char_hidden_dim=50
hidden_dim=200
dropout=0.5
lstm_layer=1
bilstm=True
learning_rate=0.005
lr_decay=0.05
momentum=0
l2=1e-8
gpu=True
#clip=
